[OSEv3:children]
nodes
masters
etcd

[OSEv3:vars]

ansible_ssh_user=root
debug_level=4
deployment_type=origin
openshift_release=v3.9
openshift_pkg_version=-3.9.0
openshift_192.168.208.8_cluster_public_hostname=None
openshift_192.168.208.8_cluster_hostname=None
openshift_192.168.208.8_default_subdomain=apps.192.168.208.9.nip.io
openshift_override_hostname_check=true

[nodes:vars]
openshift_disable_check=disk_availability,memory_availability,docker_storage

[masters:vars]
openshift_disable_check=disk_availability,memory_availability,docker_storage,package_version

[masters]
ocp1.192.168.208.8.nip.io 

[nodes]
ocp1.192.168.208.8.nip.io 
ocp2.192.168.208.9.nip.io 

[etcd]
ocp1.192.168.208.8.nip.io 
